:root {
    --backColor: rgba(242, 245, 255, 1);
    --shadow: rgba(244, 244, 244, 0.37);
    --yellow: #f7df19;
    --orange: #fb7c2f;
    --link: #2ab6f9;
    --blue: #1890ff;
    --red: #e92f4b;
    --green: #46d8ab;
    --pink: #ee478a;
    --link2: #37deec;
    --fontColor: #fff;
    --borderColor: #3d81af;
    --borderRadius: 3px;
    --contentWidth: 1170px;
    --mainWrap: 10fr 3fr;
    --fontSize: 13px;
    --fontWeight: 320;
    --radius: 5px;
    --gap: 10px;
    --formHeight: 38px;
}
html {
    scroll-behavior: smooth;
    margin: 0;
}
body {
    background-color: var(--backColor);
    margin: 0;
    height: 100vh;
    font-family: "PingFangSC,Microsoft YaHei,Helvetica,Arial";
}
#global_loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
